<div class="row">
  <% if past == true %>
    <% parties = @user.past_parties %>
  <% else %>
    <% parties = @user.upcoming_parties %>
  <% end %>
  <% parties.each do |party| %>
    <div class="card" style="width: 25rem;">
      <div class="card-body"; padding: 10px>
        <div class="mb-3">
           <div class=<%= "viewing_party_#{party.movie_id}" %>>
             <img src= <%= party.movie_poster %> alt="" style="width:100%;height:100%;">
              <br>
              <ul>
                 <h4><%= link_to "#{party.movie_title}", dashboard_movie_path(party.movie_id)%></h4>
                 <p><%= "Date: #{party.movie_date}" %> <%= "Time: #{party.movie_time}" %></p>

                 <% if party.host.id == @user.id %>
                     <p><strong><%= "You are hosting!"%></strong></p>
                     <div class=<%= "movie_#{party.movie_id}_viewers" %>>
                       <p>Friends Invited:</p>
                       <ul>
                         <% party.viewers.each do |viewer| %>
                           <li><%= viewer.name %></li>
                         <% end %>
                       </ul><br>
                       <% if past == false %>
                        <%= link_to "Cancel Viewing Party",  dashboard_movie_viewing_party_path(party.movie_id, party.id), method: :delete%>
                       <% end %>
                     </div>
                  <% else %>
                      <p><%= "Host: #{party.host.name}" %></p>
                      <div class=<%= "movie_#{party.movie_id}_viewers" %>>
                        <p><%= "Viewers:" %></p>
                        <ul>
                          <% party.viewers.each do |viewer| %>
                            <% if viewer.id == @user.id %>
                              <li><strong><%= viewer.name %>(me)</strong></li>
                            <% else %>
                              <li><%= viewer.name %></li>
                            <% end %>
                          <% end %>
                        </ul><br>
                      </div>
                      <% if past ==false %>
                        <%= link_to "Leave Viewing Party", "/users/#{user.id}/parties/#{party.id}", method: :delete%>
                      <% end %>
                <% end %> 
             </ul>
          </div>
        </div>
      </div>
    </div>
    <% end %>
</div>
