<%= render partial: 'partials/navbar_default' %>
<br>
<div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  <%= image_tag "movie_party.jpeg", height:250 %>    
 </div><br>
<h2>Sign up</h2>
<%= form_with model: User.new, local: true do |f| %>
  <%= f.text_field :name %><br>
  <%= f.label "Your Name" %><br><br>
  <%= f.text_field :email %><br>
  <%= f.label "Your Email" %><br><br>
  <%= f.submit "Register" %>
<% end %>

