<%= render partial: 'partials/navbar_admin_user',:locals => {:user_id => @user.id}%>
<br>


<div class="friends">
  <h3><%= @user.name %>'s Friends:</h3>
  <% if @user.friends ==[] && @user.inverse_friends ==[]%>
    <h4>User has not added any friends</h4>
  <% elsif @user.friends != [] %>
    <% @user.friends.each do |friend| %>
      <li>
        <%= friend.name %>
      </li>
    <% end %>
  <% elsif @user.inverse_friends != [] %>
	  <% @user.inverse_friends.each do |friend| %>
	    <li>
	      <%= friend.name %>
	    </li>
	  <% end %>
  <% end %>
  

<br>
<h3>Upcoming Viewing Parties:</h3>
<%= render partial: 'partials/viewing_parties', :locals =>{:user => @user, :past => false} %>
<br>
<h3>Past Viewing Parties:</h3>
<%= render partial: 'partials/viewing_parties', :locals =>{:user => @user, :past => true} %>


